.input-style {
  padding: 0.75rem 1rem;
  border: 2px solid #4f73b5;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.8s ease;
  color: black;
}

.input-style:focus {
  border-color: #2c406d;
  outline: none;
}

.input-textarea {
  min-height: 150px;
  resize: vertical;
}

.input-style:hover {
  background-color: #3c568b;
  color: white;
  transition: background-color 0.3s ease;
}

.input-style::placeholder {
  color: #223153;
}

.input-style:hover::placeholder {
  color: #d3d9ee; 
}

